html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

.miniSupport {
    position: fixed;
    left: 16px;
    bottom: 18px;
    z-index: 9999;
    background-color: #30FA16;
    border-radius: 12px;
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.miniSupport img {
    width: 44px;
    height: auto;
}

.miniSupport.hidden {
    display: none;
}

.chatWindow {
    position: fixed;
    left: 16px;
    bottom: 80px;
    width: 300px;
    height: 400px;
    background-color: #f0ead2;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.chatHeader {
    background-color: #6a994e;
    padding: 10px;
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatMessages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.chatMessages::-webkit-scrollbar {
    display: block;
}

.message {
    margin-bottom: 10px;
    font-size: 17px;
}

.problemSelector {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.problemSelector button {
    padding: 10px;
    background-color: #6a994e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.problemSelector button:hover {
    background-color: #25d96b;
}

.searchingMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.searchingMenu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 25px;
    right: 25px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.25);
}

.logotype img {
    height: 66px;
    cursor: pointer;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    overflow: hidden;
}

.searchInput {
    padding: 8px;
    padding-left: 40px;
    border: 1px solid #ccc;
    height: 66px;
    width: 363px;
    background-image: url('../images/magnifier.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: none;
}

.searchButton {
    padding: 8px 16px;
    background-color: #28FB6E;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    height: 66px;
    transition: background-color 0.3s ease;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.searchButton:hover {
    background-color: #25d96b;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1647px;
    max-width: 1647px;
    margin: 0 auto;
}

.movingMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1647px;
    max-width: 1647px;
    height: 55px;
}

.movingMenu button {
    width: 95px;
    height: 32px;
    border-radius: 34px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.movingMenu button.active {
    background-color: #DBDFD0;
    color: black;
}

.makeAnOrder button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    width: 168px;
    height: 48px;
    border-radius: 118px;
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.makeAnOrder button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.generalBackground {
    width: 100%;
    height: calc(100vh - 110px);
    background-image: url('../images/general-background.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.title {
    width: 1280px;
    height: 61px;
    margin: 28px auto 12px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title h1 {
    font-size: 55px;
    color: black;
}

.chooseKindOfKitchen {
    display: flex;
    justify-content: space-evenly;  /* Равномерное распределение блоков с одинаковыми промежутками */
    gap: 28px;  /* Промежутки между блоками */
    padding-top: 45px;
    width: 100%;  /* Занимает всю ширину */
    padding: 0 16px;  /* Отступы слева и справа */
    box-sizing: border-box;  /* Чтобы padding не увеличивал размер контейнера */
    flex-wrap: wrap;  /* Поддержка обтекания при малых размерах экрана */
}

.chooseKindOfKitchen div {
    margin-top: 45px;
    width: 248px;
    height: 258px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease; /* Эффект при наведении */
    text-align: left;
}

.chooseKindOfKitchen div:hover {
    transform: translateY(-10px); /* Поднимаем блок при наведении */
}

.chooseKindOfKitchen img {
    width: 306px;
    height: 320px;
    object-fit: cover;
}

.chooseKindOfKitchen h2 {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
}

.chooseKindOfKitchen span {
    margin-top: 10px;
    font-size: 22px;
    color: #555;
    margin-top: 10px;
}
